{% extends 'base.html.twig'%}

{% block title %} welcome{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"><br>
                {% for label, flashes in app.flashes %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ flash }}
                            </div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ flash }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div class="form_main">
                    <h4 class="heading"><strong>Create </strong> Contact <span></span></h4>
                    
                    <div class="form">
                        {{ form_start(contact_form,{'attr':{'id':'ContactFrm','novalidate':'novalidate'} }) }}
                        {# Add the reCAPTCHA div to show in form #}  
                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div><br>   
                        {{ form(contact_form) }} 
                        {{ form_end(contact_form) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg" form="ContactFrm">Save</button>
                        </div>
                    </div>
                </div>
            </div
        </div>
    </div>
{% endblock %}